extends base-layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  div(class="container") 
    form(action="." method="POST" class="form-registration")
      div(class="col-lg-6")  
        h1(class="mt-2")                    
        img(src=illustration_url)     

      <br/>  
      div(class="row")
        div(class="col-sm")       
          label(for="name") Nome
          input(
            type="text"
            id="name"
            name="name"
            class="form-control"
            value=data.name)
      <br/>  
      div(class="row")
        div(class="col-sm")
          label(for="email") Email
          input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            value=data.email)

      div(class="row")
        div(class="col-sm")
          br
      
      div(class="row")
        div(class="col-sm")
          input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
          )
      

      