extends layout

block content    
  script(src="http://code.jquery.com/jquery-3.1.0.min.js")
  script(src="/magic.js")

  if (typeof tweets != "undefined")    
    if tweets.length
      form(action='save' method="post" id="formTweets")              
        table.listing-table.table.table-striped      
          tr
            th Usuário          
            th Texto          
            th Acidente?
          each tweet in tweets
            tr
              td= tweet.usuario            
              td= tweet.texto
              td(width='100px' span=2)                 
                input(type="radio", name=tweet.id, value="Sim", id="label")
                | Sim
                br 
                input(type="radio", name=tweet.id, value="Não", id="label")
                | Não
        
        input(type="submit", 
              value="Save",
              class="btn btn-lg btn-primary btn-block"
        )

              
                  
  else
    p No unlabeled yet :(